<h1>Onepage#index</h1>
<p>What is this</p>
<%= javascript_pack_tag 'landing' %>
<%= stylesheet_pack_tag 'landing' %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNCN59TQIYbTsyxEST83_e_OBCf2BEhFo&libraries=places"></script>
