<div class="container-fluid ">
  <div class="jumbotron">
    <div class ="row">
      <div class =" offset-2 col-12 d-flex flex-column align-items-start mt-5">
        <h1 class="display-5">Welcome to FlyByNight</h1>
        <p class="lead">Create fully customized day-by-day travel itineraries in minutes</p>

         <%= button_to 'Start Planning!', places_path,{method:'get', class:'btn btn-primary start-btn'}%>
      <hr class="my-4"/>
      <Search/>
      </div>
    </div>
  </div>
</div>
