<div class="container-fluid ">
  <div class= 'col-12 d-flex justify-content-center'>
    <div class="jumbotron" id="jumbo-1">
      <div class ="row">
        <div class ="col-12 d-flex flex-column justify-content-between align-items-center" style="padding-top: 150px;">
          <h1 class="display-5">Welcome to FlyByNight</h1>
          <p class="lead">Create your travel itineraries in minutes</p>

           <%= button_to 'Start Planning!', plans_path,{method:'get', class:'btn btn-primary start-btn'}%>
        <hr class="my-4"/>
        <Search/>
        </div>
      </div>
    </div>
  </div>

</div>
