

.display-5,.lead{
  color:white;
}

.start-btn{
background-color: #ffd800;
border-color: #ffd800;
color: black;
}

.start-btn:hover{
  background-color: #393e46;
  color: white;
  border-color: #393e46;
}

.plan-bar{

  min-height: 100px;
}

#jumbo-1{
    background-image: url("https://farm5.staticflickr.com/4386/37060519312_4eb1782b87_k.jpg");
    border-radius: 0;
    width:85%;
    min-height:700px;

}

.notes{
  color:white;
}
