
<h1>Plans</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div>


</div>
    <% @plans.each do |plan| %>
      <tr>
        <td> <%=plan.itinerary_name%></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <h4>nuuuuuuuuuuuuuuuuuuuuuuuu</h4>

  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_plan_path %>
